In [1]:
from google.colab import drive
drive.mount("/content/gdrive")

Mounted at /content/gdrive

In [4]:
!ls /content/gdrive/MyDrive/Data/HousingPrices/

housing.csv

In [14]:
import pandas as pd

df = pd.read_csv("/content/gdrive/MyDrive/Data/HousingPrices/housing.csv")
df.fillna(0, inplace=True)
df

       Median_House_Value  ...  Distance_to_SanFrancisco
0                452600.0  ...              21250.213767
1                358500.0  ...              20880.600400
2                352100.0  ...              18811.487450
3                341300.0  ...              18031.047568
4                342200.0  ...              18031.047568
...                   ...  ...                       ...
20635             78100.0  ...             222619.890417
20636             77100.0  ...             218314.424634
20637             92300.0  ...             212097.936232
20638             84700.0  ...             207923.199166
20639             89400.0  ...             205473.376575

[20640 rows x 14 columns]

## Using linear regression predict a houses distance to the coast based on other housing factors.

In [25]:
y = df["Distance_to_coast"]

data_keys = df.keys()[:-5]
x_unscaled = df[data_keys]

In [15]:
from sklearn.decomposition import PCA

In [26]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
data_rescaled = scaler.fit_transform(x_unscaled)
data_rescaled

array([[0.90226638, 0.53966842, 0.78431373, ..., 0.02055583, 0.5674814 ,
        0.21115538],
       [0.70824656, 0.53802706, 0.39215686, ..., 0.18697583, 0.565356  ,
        0.21215139],
       [0.69505074, 0.46602805, 1.        , ..., 0.02894261, 0.5642933 ,
        0.21015936],
       ...,
       [0.15938285, 0.08276438, 0.31372549, ..., 0.07104095, 0.73219979,
        0.31175299],
       [0.14371281, 0.09429525, 0.33333333, ..., 0.05722743, 0.73219979,
        0.30179283],
       [0.15340349, 0.13025338, 0.29411765, ..., 0.08699227, 0.72582359,
        0.30976096]])

## Linear Regression model without principla comoponent analyisis.

In [95]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(data_rescaled, y, test_size=.15, random_state=9)

In [96]:
from sklearn.linear_model import LinearRegression

lr = LinearRegression()

model = lr.fit(X_train, y_train)

In [97]:
y_pred = lr.predict(X_test)

In [98]:
lr.score(X_test, y_test).round(4)

0.671

## Testing the Linear Regression with PCA

In [84]:
pca = PCA(n_components=6) 
pca.fit(data_rescaled)
reduced = pca.transform(data_rescaled)

In [99]:
pca_X_train, pca_X_test, pca_y_train, pca_y_test = train_test_split(reduced, y, test_size=0.15, random_state=9)

In [100]:
pca_lr = LinearRegression()

pca_model = pca_lr.fit(pca_X_train, pca_y_train)

In [101]:
pca_pred = pca_lr.predict(pca_X_test)

In [102]:
pca_lr.score(pca_X_test, pca_y_test).round(4)

0.6706

As you can see dropping our components from 9 to 6 using PCA gives us very similar results as the standard linear regression.

## Testing the Linear Regression with SVD

In [89]:
from sklearn.decomposition import TruncatedSVD

In [90]:
svd = TruncatedSVD(n_components=6)
svd.fit(data_rescaled)
svd_reduced = svd.transform(data_rescaled)

In [103]:
svd_X_train, svd_X_test, svd_y_train, svd_y_test = train_test_split(svd_reduced, y, test_size=0.15, random_state=9)

In [104]:
svd_lr = LinearRegression()

svd_model = svd_lr.fit(svd_X_train, svd_y_train)

In [105]:
svd_pred = svd_lr.predict(svd_X_test)

In [106]:
svd_lr.score(svd_X_test, svd_y_test).round(4)

0.6695